html {
  scroll-behavior: smooth;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 720px) {
  #hero h1 {
    font-size: 3rem;
  }
  #hero h2 {
    font-size: 2rem;
  }
  #hero h3 {
    font-size: 1.5rem;
  }
}

#fullscreen-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block-quote {
  font-family: "AdventPro", sans-serif;
  font-size: 3rem;
}
.block-quote .citation {
  font-size: 4rem;
  font-weight: 600;
}
.block-quote .credit {
  font-size: 1.3rem;
}

#infographic {
  max-width: 100%;
}
#infographic .info {
  box-shadow: 0 0 10px #eee;
  padding-bottom: 1rem;
  height: 15rem;
  width: 100%;
}
#infographic .section-title {
  font-family: "alba super", sans-serif;
}
#infographic .info-title {
  font-weight: 600;
  padding-top: 1rem;
}

#about .about-section {
  gap: 2rem;
}
#about .about-card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  max-width: 100%;
}
#about .about-card .team-img-name {
  padding-left: 2rem;
}
#about .about-card .team-img-name .team-img {
  transform: translateY(-15%);
  max-width: 100%;
}
#about .about-card .team-img-name .team-name {
  align-self: flex-start;
  padding-bottom: 1rem;
  font-size: 2rem;
}
#about .about-card .team-description {
  text-align: left;
}
@media (max-width: 720px) {
  #about .about-card {
    align-items: center;
    margin-bottom: 1rem;
  }
  #about .about-card .team-name {
    margin-top: 6rem;
  }
  #about .about-card .team-img-left {
    flex-direction: row; /* Default direction for all children */
    padding-left: 2rem;
  }
  #about .about-card .team-img-right {
    flex-direction: row-reverse; /* Change direction for second and fourth children */
    padding-right: 2rem;
  }
}
@media (max-width: 960px) {
  #about .about-section {
    display: grid;
    place-content: center;
    gap: 2rem;
  }
  #about .about-section .about-card {
    flex-direction: column;
    padding: 1rem 1rem 2rem 1rem;
  }
  #about .about-section .team-role-description {
    width: 100%;
  }
}
@media (min-width: 961px) {
  #about .about-card {
    flex-direction: row;
    padding-top: 1rem;
  }
  #about .about-card .team-img-name {
    max-width: 30%;
  }
  #about .about-card .team-role-description {
    padding: 2rem 1rem 1rem 1rem;
  }
  #about .about-card .team-role-description .team-area {
    padding-bottom: 2rem;
    text-align: left;
  }
}

#services {
  background-color: white;
}
@media (max-width: 720px) {
  #services .services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 721px) {
  #services .services-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
#services .services-card {
  padding: 1rem;
}
#services .services-card .services-description {
  padding-right: 1rem;
}
#services .services-card .services-description h3 {
  padding-bottom: 1rem;
  text-align: left;
}
#services .services-card .services-description p {
  text-align: left;
}

#kontakt #message {
  height: 3rem;
  display: flex;
}
#kontakt input {
  padding: 1rem 0 1rem 1rem;
  margin: 0.5rem;
  width: 90%;
  font-family: "AdventPro", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}
#kontakt select {
  width: 90% !important;
  margin: 0.5rem;
  padding: 0.7rem;
  font-family: "AdventPro", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}
#kontakt select option {
  padding: 0.5rem;
  height: fit-content;
  font-family: "AdventPro", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}
@media (max-width: 720px) {
  #kontakt .contact-form {
    max-width: 100vw;
    padding: 0 2rem 0 2rem;
  }
  #kontakt img {
    display: none;
  }
}

#portfolio {
  max-width: 100% !important;
  padding: 0 2rem 0 2rem;
}
#portfolio a {
  color: #D9307f;
}
#portfolio a:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media (max-width: 720px) {
  #portfolio #lg-gallery {
    display: none;
  }
  #portfolio #sm-gallery {
    display: block;
  }
  #portfolio .container {
    position: relative;
  }
  #portfolio .mySlides {
    display: none;
  }
  #portfolio .cursor {
    cursor: pointer;
  }
  #portfolio .prev,
  #portfolio .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 0.5rem;
    margin-top: -50px;
    color: white;
    background-color: #020826;
    font-weight: bold;
    font-size: 4rem;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  #portfolio .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  #portfolio .prev:hover,
  #portfolio .next:hover {
    color: #D9307f;
    text-decoration: none;
  }
  #portfolio .numbertext {
    color: #f2f2f2;
    font-size: 1rem;
    padding: 8px 12px;
    font-family: "AdventPro";
    position: absolute;
    top: 0;
  }
  #portfolio .caption-container {
    text-align: center;
    background-color: #020826;
    padding: 1rem;
    color: white;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  #portfolio .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #portfolio .column {
    float: left;
    width: 16.66%;
  }
  #portfolio .demo {
    opacity: 0.6;
  }
  #portfolio .active,
  #portfolio .demo:hover {
    opacity: 1;
  }
}
@media (min-width: 721px) {
  #portfolio #sm-gallery {
    display: none;
  }
  #portfolio #lg-gallery {
    gap: 2rem;
    max-width: 100%;
  }
  #portfolio #lg-gallery img {
    max-width: 100%;
    height: auto;
  }
  #portfolio #lg-gallery .portfolio-img {
    display: flex;
    flex-direction: column;
  }
  #portfolio #lg-gallery .portfolio-img h3 {
    text-align: left;
    font-size: 1.7rem;
  }
}

footer {
  background-color: white;
  text-align: center;
}
footer h4, footer p, footer a, footer li {
  color: #020826;
}
footer h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
footer a {
  font-size: 1.4rem;
}
footer a:hover {
  font-weight: 500;
  color: #D9307f;
}
footer li {
  list-style-type: none;
  font-family: "AdventPro", sans-serif;
  font-size: 1.4rem;
  text-align: left;
  padding-left: 4rem;
}
@media (max-width: 720px) {
  footer li {
    text-align: center;
    padding: 0;
  }
}
footer .so-me {
  justify-content: center;
  margin-top: 1rem;
}
footer .so-me .bi {
  color: #020826;
  font-size: 2.8rem;
  padding: 0.4rem;
}

@font-face {
  font-family: "AlbaSuper";
  src: url("../fonts/ALBAS.TTF");
}
@font-face {
  font-family: "AdventPro";
  src: url("../fonts/AdventPro-VariableFont_wdth_wght.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/bg-img.png");
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-family: "AlbaSuper", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  color: white;
}

h2 {
  font-family: "AdventPro", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  color: white;
}

h3 {
  font-family: "AdventPro", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  color: white;
}

h4 {
  font-family: "AdventPro", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: white;
}

p {
  font-family: "AdventPro", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-family: "AdventPro", sans-serif;
}

section {
  padding: 3rem 0 3rem 0;
}

.text-primary {
  color: #020826;
}

.bg-primary {
  background-color: #020826;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.7);
}

.container {
  max-width: 100%;
  place-content: center;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
}

.content {
  max-width: 1000px;
}

.pop-in-1 {
  transition: 0.8s;
}

.pop-in-2 {
  transition: 0.9s;
}

.pop-in-3 {
  transition: 0.5s;
}

.img-xs {
  height: auto;
  width: 4rem;
}

.img-s {
  height: auto;
  width: 8rem;
}

.img-m {
  height: auto;
  width: 12rem;
}

.img-lg {
  height: auto;
  width: 16rem;
}

.img-xl {
  height: auto;
  width: 20rem;
}

.img-xxl {
  height: 28rem;
}

.img-circle {
  border-radius: 50%;
}

.flex-col, .flex-row {
  display: flex;
  width: 100%;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
  max-width: 100%;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-between {
  align-content: space-between;
}

.align-center {
  align-items: center;
}

.grid-col-12 {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "one" "two" "three" "four";
  width: 100%;
}

.col-span-1 {
  grid-column: span 1;
}

.col-span-2 {
  grid-column: span 2;
}

.col-span-3 {
  grid-column: span 3;
}

.col-span-4 {
  grid-column: span 4;
}

.col-span-5 {
  grid-column: span 5;
}

.col-span-6 {
  grid-column: span 6;
}

.col-span-7 {
  grid-column: span 7;
}

.col-span-8 {
  grid-column: span 8;
}

.col-span-9 {
  grid-column: span 9;
}

.col-span-10 {
  grid-column: span 10;
}

.col-span-11 {
  grid-column: span 11;
}

.col-span-12 {
  grid-column: span 12;
}

@media (min-width: 0px) {
  .sm-col-span-1 {
    grid-column: span 1;
  }
  .sm-col-span-2 {
    grid-column: span 2;
  }
  .sm-col-span-3 {
    grid-column: span 3;
  }
  .sm-col-span-4 {
    grid-column: span 4;
  }
  .sm-col-span-5 {
    grid-column: span 5;
  }
  .sm-col-span-6 {
    grid-column: span 6;
  }
  .sm-col-span-7 {
    grid-column: span 7;
  }
  .sm-col-span-8 {
    grid-column: span 8;
  }
  .sm-col-span-9 {
    grid-column: span 9;
  }
  .sm-col-span-10 {
    grid-column: span 10;
  }
  .sm-col-span-11 {
    grid-column: span 11;
  }
  .sm-col-span-12 {
    grid-column: span 12;
  }
}
@media (min-width: 720px) {
  .md-col-span-1 {
    grid-column: span 1;
  }
  .md-col-span-2 {
    grid-column: span 2;
  }
  .md-col-span-3 {
    grid-column: span 3;
  }
  .md-col-span-4 {
    grid-column: span 4;
  }
  .md-col-span-5 {
    grid-column: span 5;
  }
  .md-col-span-6 {
    grid-column: span 6;
  }
  .md-col-span-7 {
    grid-column: span 7;
  }
  .md-col-span-8 {
    grid-column: span 8;
  }
  .md-col-span-9 {
    grid-column: span 9;
  }
  .md-col-span-10 {
    grid-column: span 10;
  }
  .md-col-span-11 {
    grid-column: span 11;
  }
  .md-col-span-12 {
    grid-column: span 12;
  }
}
@media (min-width: 960px) {
  .lg-col-span-1 {
    grid-column: span 1;
  }
  .lg-col-span-2 {
    grid-column: span 2;
  }
  .lg-col-span-3 {
    grid-column: span 3;
  }
  .lg-col-span-4 {
    grid-column: span 4;
  }
  .lg-col-span-5 {
    grid-column: span 5;
  }
  .lg-col-span-6 {
    grid-column: span 6;
  }
  .lg-col-span-7 {
    grid-column: span 7;
  }
  .lg-col-span-8 {
    grid-column: span 8;
  }
  .lg-col-span-9 {
    grid-column: span 9;
  }
  .lg-col-span-10 {
    grid-column: span 10;
  }
  .lg-col-span-11 {
    grid-column: span 11;
  }
  .lg-col-span-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1200px) {
  .xl-col-span-1 {
    grid-column: span 1;
  }
  .xl-col-span-2 {
    grid-column: span 2;
  }
  .xl-col-span-3 {
    grid-column: span 3;
  }
  .xl-col-span-4 {
    grid-column: span 4;
  }
  .xl-col-span-5 {
    grid-column: span 5;
  }
  .xl-col-span-6 {
    grid-column: span 6;
  }
  .xl-col-span-7 {
    grid-column: span 7;
  }
  .xl-col-span-8 {
    grid-column: span 8;
  }
  .xl-col-span-9 {
    grid-column: span 9;
  }
  .xl-col-span-10 {
    grid-column: span 10;
  }
  .xl-col-span-11 {
    grid-column: span 11;
  }
  .xl-col-span-12 {
    grid-column: span 12;
  }
}
.grid-center {
  place-items: center;
}

.navbar {
  display: flex;
  padding: 1rem 0 1rem 0;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "AdventPro";
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 999;
}
.navbar .site-title {
  padding-left: 2rem;
}

.sr-only {
  display: none;
}

.container {
  max-width: 100%;
  justify-self: center;
  align-items: center;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
}

/*Navbar*/
@media (max-width: 50em) {
  #primary-navigation {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    padding: min(30vh, 1em) 1em;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    height: fit-content;
    align-items: center;
    z-index: 1000;
    transform: translateY(-100%);
  }
  #primary-navigation li {
    padding-bottom: 1rem;
    list-style-type: none;
    padding-top: 1rem;
    font-weight: 600;
  }
  #primary-navigation[data-visible=true] {
    transform: translateY(0%);
    transition: transform 350ms ease-in;
  }
  .nav-toggle {
    position: absolute;
    cursor: pointer;
    background: url(../img/icon-hamburger.svg);
    background-position-y: 50%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    border: 0;
    width: 2rem;
    top: 1.5rem;
    right: 0.1rem;
    z-index: 9999;
  }
  .nav-toggle[aria-expanded=true] {
    background: url(../img/icon-close.svg);
    background-repeat: no-repeat;
  }
  .col-reverse-sm {
    flex-direction: column-reverse !important;
  }
}
@media (min-width: 50rem) {
  .nav-toggle {
    display: none;
  }
  #primary-navigation {
    justify-content: space-between;
  }
  #primary-navigation li {
    margin-right: 2rem;
    align-items: flex-end;
    list-style-type: none;
  }
}
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 4rem;
}

.p-4 {
  padding: 6rem;
}

.p-5 {
  padding: 8rem;
}

.p-6 {
  padding: 10rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 4rem;
}

.pl-4 {
  padding-left: 6rem;
}

.pl-5 {
  padding-left: 8rem;
}

.pl-6 {
  padding-left: 10rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 4rem;
}

.pr-4 {
  padding-right: 6rem;
}

.pr-5 {
  padding-right: 8rem;
}

.pr-6 {
  padding-right: 10rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 4rem;
}

.pt-4 {
  padding-top: 6rem;
}

.pt-5 {
  padding-top: 8rem;
}

.pt-6 {
  padding-top: 10rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 4rem;
}

.pb-4 {
  padding-bottom: 6rem;
}

.pb-5 {
  padding-bottom: 8rem;
}

.pb-6 {
  padding-bottom: 10rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 4rem;
}

.m-4 {
  margin: 6rem;
}

.m-5 {
  margin: 8rem;
}

.m-6 {
  margin: 10rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 4rem;
}

.ml-4 {
  margin-left: 6rem;
}

.ml-5 {
  margin-left: 8rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 4rem;
}

.mr-4 {
  margin-right: 6rem;
}

.mr-5 {
  margin-right: 8rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 4rem;
}

.mt-4 {
  margin-top: 6rem;
}

.mt-5 {
  margin-top: 8rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 4rem;
}

.mb-4 {
  margin-bottom: 6rem;
}

.mb-5 {
  margin-bottom: 8rem;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.bg-blur-0 {
  backdrop-filter: blur(2px);
}

.bg-blur-1 {
  backdrop-filter: blur(10px);
}

.bg-blur-2 {
  backdrop-filter: blur(20px);
}

.bg-blur-3 {
  backdrop-filter: blur(30px);
}

.bg-blur-4 {
  backdrop-filter: blur(40px);
}

.bg-blur-5 {
  backdrop-filter: blur(50px);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media (min-width: 720px) {
  #hero {
    padding: 4rem 0;
  }
}
@media (min-width: 0px) {
  #hero {
    padding-top: 4rem;
  }
}
.btn {
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  width: fit-content;
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn-sm {
  padding: 0 2rem 0 2rem;
  margin: 0.3rem;
  background-color: #D9307f;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  border: none;
}
.btn-sm:hover {
  background-color: #020826;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-primary {
  background-image: linear-gradient(to right, #020826 10%, #D9307f 50%, #020826 100%);
}

.btn-secondary {
  background-image: linear-gradient(to right, #D9307f 10%, #020826 50%, #D9307f 100%);
}