

@font-face { 
    font-family: "AlbaSuper";  
    src: url('../fonts/ALBAS.TTF'); 
}

@font-face {
    font-family: "AdventPro";
    src: url("../fonts/AdventPro-VariableFont_wdth_wght.ttf");
}
*{
    margin:0;
    padding:0;
}
body{
    background-image: url("../img/bg-img.png");
    margin: 0;
    padding: 0;
    width: 100%;
}

h1{
    font-family:'AlbaSuper', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    color: white;
}
h2{
    font-family:'AdventPro', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    color: white;
}
h3{
    font-family:'AdventPro', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    color: white;
}
h4{
    font-family:'AdventPro', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: white;
}

p{
    font-family:'AdventPro', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    color: white;
}

a{
    text-decoration: none;
    color: white; 
    font-family: 'AdventPro', sans-serif;
}

section{
    padding: 3rem 0 3rem 0;
}

.text-primary{
    color: $primary;
}

.bg-primary{
    background-color: $primary;

}

.bg-dark{
    background-color: $primaryGennemsigtig;
}

.container{
    max-width: 100%;
    place-content: center;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
}
.content{
    max-width: 1000px;
}

.pop-in-1{
    transition: 0.8s;
}
.pop-in-2{
    transition: 0.9s;
}
.pop-in-3{
    transition: 0.5s;
}

.img-xs{
    height: auto;
    width: 4rem;
}
.img-s{
    height: auto;
    width: 8rem;
}
.img-m{
    height: auto;
    width: 12rem;
}
.img-lg{
    height: auto;
    width: 16rem;
}
.img-xl{
    height: auto;
    width: 20rem;
}
.img-xxl{
    height: 28rem;
}
.img-circle{
    border-radius: 50%;
}