//Hover gradient fra https://codepen.io/pirrera/pen/bqVeGx
.btn{
  display: block;
  padding:1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  width: fit-content;
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn-sm{
  padding: 0 2rem 0 2rem;
  margin: 0.3rem;
  background-color: $secondary;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  border: none;

  &:hover{
    background-color: $primary;
  }
}

  .btn:hover {
    background-position: right center; /* change the direction of the change here */
  }
  
  .btn-primary {
    background-image: linear-gradient(to right, $primary 10%, $secondary 50%, $primary 100%);
  }
  .btn-secondary {
    background-image: linear-gradient(to right, $secondary 10%, $primary 50%, $secondary 100%);
  }