%flex{
    display: flex;
    width: 100%
}
.flex-row{
    @extend %flex; //giver de samme egenskaber som .flex
    flex-direction: row;

}

.flex-col{
    @extend %flex;
    flex-direction: column;
    max-width: 100%;
}
.justify-between{
    justify-content: space-between;
}

.align-between{
    align-content: space-between;
}

.align-center{
    align-items: center;
}