//Vi bruger variablen "breakpoints", så det er lettere at justere hvis vi ændrer dem senere
$breakpoints: (
  "sm": 0px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

.grid-col-12{
    display: grid;
    gap: 2rem; //giver 1.5rem padding hele vejen rundt om elementerne
    grid-template-columns: repeat(12 , 1fr); //laver 3 lige store kolonner 
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four';
    width: 100%;  //
}


@for $i from 1 through 12 { //giver classes .col-span-xx. denne class justeres ikke efter skærmstørrelse
    .col-span-#{$i} {
        grid-column: span $i;
    }
}

@each $breakpoint, $value in $breakpoints { //giver classes .sm-col-span-xx
    @media (min-width: $value) {
        @for $i from 1 through 12 {
            .#{$breakpoint}-col-span-#{$i} {
                grid-column: span $i;
            }
        }
    }
}

.grid-center{
    place-items: center;
}