$breakpoints: (
  "sm": 0px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

.grid-col-3{
    display: grid;
    gap: 1.5rem; //giver 1.5rem padding hele vejen rundt om elementerne
    grid-template-columns: repeat(3 , 1fr); //laver 3 lige store kolonner 
    grid-template-areas: 
    'one'
    'two'
    'three';
    width: 100%;  //


}

//Vi bruger variablen "breakpoints", så det er lettere at justere hvis vi ændrer dem senere
@media (min-width: map-get($breakpoints, "xs")){
    .col-span-1{
        grid-column: span 3;
    }
    .col-span-2{
        grid-column: span 3;
    }
    .col-span-3{
        grid-column: span 3;
    }

}
@media (min-width: map-get($breakpoints, "sm")){
    .col-span-1{
        grid-column: span 3;
    }
    .col-span-2{
        grid-column: span 3;
    }
    .col-span-3{
        grid-column: span 3;
    }
}
@media (min-width: map-get($breakpoints, "m")){
    .col-span-3{
        grid-column: span 3;
    }
    .col-span-2{
        grid-column: span 2;
    }
    .col-span-1{
        grid-column: span 1;
    }
}
@media (min-width: map-get($breakpoints, "lg")){
    .col-span-3{
        grid-column: span 3;
    }
    .col-span-2{
        grid-column: span 2;
    }
    .col-span-1{
        grid-column: span 1;
    }
}