
.navbar {
    display: flex;
    padding: 1rem 0 1rem 0;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    color: white;
    font-family: 'AdventPro';
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 999;

    .site-title{
        padding-left:2rem;
    }
  }

  .sr-only{
    display: none;
  }

  .container{
    max-width: 100%;
    justify-self: center;
    align-items: center;
    margin: 0; 
    padding: 0 20px;
    box-sizing: border-box;
}

  /*Navbar*/
@media (max-width:50em){
#primary-navigation{
    position: fixed;
    flex-direction: column;
    inset: 0 0 0 0%;
    padding: min(30vh, 1em) 1em;
    background-color: red;
    height: 50%;
    opacity: 98%;
    align-items: center;
    z-index: 1000;
    transform: translateY(-100%);

    li {
        padding-bottom: 1rem;
        list-style-type: none;
        padding-top: 1rem;
        font-weight: 600;
    }
}
#primary-navigation[data-visible="true"]{
    transform: translateY(0%);
    transition: transform 350ms ease-in;
}
.nav-toggle{
    position: absolute;
    cursor: pointer;
    background: url(/img/icon-hamburger.svg);
    background-position-y: 50%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    border: 0;
    width: 2rem;
    top: 1.5rem;
    right: 0.1rem;
    z-index: 9999;
}
.nav-toggle[aria-expanded="true"]{
    background: url(/img/icon-close.svg);
    background-repeat: no-repeat;
}

.col-reverse-sm{
    flex-direction: column-reverse!important;
}
}


@media (min-width:50rem){
    .nav-toggle{
        display: none;
    }

    #primary-navigation{
       justify-content: space-between;

        li{
            margin-right: 2rem;
            align-items: flex-end;
            list-style-type: none;
        }
    }
}