.navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 1rem;
    position: fixed;
    color: white;
    font-family: 'AdventPro';

    .container {
      display: flex;
    }
  }

  /*Navbar*/
@media (max-width:40em){
#primary-navigation{
    position: fixed;
    flex-direction: column;
    inset: 0 0 0 0%;
    padding: min(30vh, 1em) 1em;
    background-color: $primary;
    height: 30%;
    opacity: 98%;
    align-items: center;
    z-index: 1000;
    transform: translateY(-100%);

    li {
        padding-bottom: 1rem;
        padding-top: 1rem;
        font-weight: 600;
    }
}
#primary-navigation[data-visible="true"]{
    transform: translateY(0%);
    transition: transform 350ms ease-in;
}
.nav-toggle{
    position: absolute;
    cursor: pointer;
    background: url(/img/icon-hamburger.svg);
    background-position-y: 50%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    border: 0;
    width: 2rem;
    top: 1.5rem;
    right: 0.1rem;
    z-index: 9999;
}
.nav-toggle[aria-expanded="true"]{
    background: url(/img/icon-close.svg);
    background-repeat: no-repeat;
}

.col-reverse-sm{
    flex-direction: column-reverse!important;
}
}

@media (min-width:40rem){
    .nav-toggle{
        display: none;
    }
    header{
        background-color: green!important;
    }
    #primary-navigation{
       padding-right: 2rem;
       justify-content: space-between;
       background-color: red!important;

        li{
            margin-right: 1rem;
            align-items: flex-end;
            list-style-type: none;
        }
    }
}