$primary:#020826;
$secondary:#D9307f;
$team-blue:#54EFED;
$info-purple:#4f118b;

@font-face { 
    font-family: "AlbaSuper";  
    src: url('/fonts/ALBAS.TTF'); 
}

@font-face {
    font-family: "AdventPro";
    src: url("/fonts/AdventPro-VariableFont_wdth_wght.ttf");
}
*{
    margin:0;
    padding:0;
}
body{
    background-image: url("/img/bg-img.png");
    margin: 0;
    padding: 0;
}

h1{
    font-family:'AlbaSuper', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    color: white;
}
h2{
    font-family:'AdventPro', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    color: white;
}
h3{
    font-family:'AdventPro', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    color: white;
}
p{
    font-family:'AdventPro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: white;
}

a{
    text-decoration: none;
    color: white; 
    font-family: 'AdventPro', sans-serif;
}

header{
    height: 50px;
}

.btn-kontakt{
    background-color: $primary;
    display: block;
    color: white;
    padding:1rem;
    width: fit-content;
}

@import "sass/colors";
@import "sass/flexbox";
@import "sass/grid";
@import "sass/navbar";