$primary:#020826;
$secondary:#D9307f;
$team-blue:#54EFED;
$info-purple:#4f118b;

$primaryGennemsigtig: rgba(0,0,0,0.7);

html{
    scroll-behavior: smooth;
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


#fullscreen-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-quote{
    font-family: "AdventPro", sans-serif;
    font-size: 3rem;

    .citation{
        font-size: 4rem;
        font-weight: 600;
    }

    .credit{
        font-size: 1.3rem;
    }
}

#infographic{
    max-width: 100%;
    .info{
        box-shadow: 0 0 10px #eee;
        padding-bottom: 1rem;
    }
    .section-title{
        font-family: "alba super", sans-serif;
    }
    .info-title{
        font-weight: 600;
        padding-top: 1rem;
    }
}

#about {
    .about-section{
        gap:2rem;
    }
    .about-card {
        background-color: white;
        border-radius: 10px;
        display: flex;
        max-width: 100%;

        .team-img-name {
            padding-left: 2rem;

            .team-img {
                transform: translateY(-15%);
                max-width: 100%;
            }

            .team-name {
                align-self: flex-start;
                padding-bottom: 1rem;
                font-size: 2rem;
            }
        }
        .team-description {
            text-align: left;
        }
    }
    @media (max-width: 720px){
        .about-card{
            align-items: center;
            margin-bottom: 1rem;

            .team-name{
                margin-top: 6rem;
            }

            .team-img-left {
                flex-direction: row; /* Default direction for all children */
                padding-left: 2rem;
            }
            .team-img-right {
                flex-direction: row-reverse; /* Change direction for second and fourth children */
                padding-right: 2rem;
            }

        }
    }
    @media (max-width: 960px) {
        .about-section {
            display: grid;
            place-content: center;
            gap: 2rem;
    
            .about-card {
                flex-direction: column;
                padding: 0 1rem 2rem 1rem;
                }
    
                .team-role-description {
                    width: 100%;
                }
            }
        }
    @media (min-width: 961px) { //på store skærme vises det som række
        .about-card {
            flex-direction: row;

            .team-img-name {
                max-width: 30%;
            }

            .team-role-description {
                padding: 2rem 1rem 1rem 1rem;

                .team-area {
                    padding-bottom: 2rem;
                    text-align: left;
                }

            }
        }
    }
}

#services{
    background-color: white;

    .services-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        .services-description{
            padding-right: 1rem;
            

            h3{
                padding-bottom: 1rem;
                text-align: left;
            }
            p{
                text-align: left;
            }
        }
    }
}

#kontakt{
    #message{
        height: 3rem;
        display: flex;
        
    }
    input{
        padding: 1rem 0 1rem 1rem;
        margin: 0.5rem;
        width: 90%;
    }

    select{
        width: 90%!important;
        margin: 0.5rem;
        padding:0.7rem;

        option{
            padding: 0.5rem;
            height: fit-content;
        }
    }
    @media (max-width: 720px) {
        .contact-form{
            max-width: 100vw;
            padding: 0 2rem 0 2rem;
        }

        img{
            display: none;
        }
    }
}

#portfolio{
    max-width: 100%!important;
    padding: 0 2rem 0 2rem;

    a{
        color: $secondary;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }

    @media (max-width: 720px) {
        #lg-gallery{
            display: none;
        }
        #sm-gallery{
            display: block;
        }

            /* Position the image container (needed to position the left and right arrows) */
            .container {
                position: relative;
            }
            
            /* Hide the images by default */
            .mySlides {
                display: none;
            }
            
            /* Add a pointer when hovering over the thumbnail images */
            .cursor {
                cursor: pointer;
            }
            
            /* Next & previous buttons */
            .prev,
            .next {
                cursor: pointer;
                position: absolute;
                top: 40%;
                width: auto;
                padding: 0.5rem;
                margin-top: -50px;
                color: white;
                background-color: $primary;
                font-weight: bold;
                font-size: 4rem;
                border-radius: 0 3px 3px 0;
                user-select: none;
                -webkit-user-select: none;
            }
            
            /* Position the "next button" to the right */
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }
            
            /* On hover, add a black background color with a little bit see-through */
            .prev:hover,
            .next:hover {
                color: $secondary;
                text-decoration: none;
            }
            
            /* Number text (1/3 etc) */
            .numbertext {
                color: #f2f2f2;
                font-size: 1rem;
                padding: 8px 12px;
                font-family: "AdventPro";
                position: absolute;
                top: 0;
            }
            
            /* Container for image text */
            .caption-container {
                text-align: center;
                background-color: $primary;
                padding: 1rem;
                color: white;
                margin-top: 0.2rem;
                margin-bottom: 0.2rem;
            }
            
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
            
            /* Six columns side by side */
            .column {
                float: left;
                width: 16.66%;
            }
            
            /* Add a transparency effect for thumnbail images */
            .demo {
                opacity: 0.6;
            }
            
            .active,
            .demo:hover {
                opacity: 1;
            }
    }

    @media (min-width: 721px) {
        #sm-gallery{
            display: none;
        }

        #lg-gallery{
            gap: 2rem;
            max-width: 100%;

            img{
                max-width: 100%;
                height: auto;
            }
            .portfolio-img{
                display: flex;
                flex-direction: column;

                h3{
                    text-align: left;
                    font-size: 1.7rem;
                }
                
            }
        }
        
    }
}
footer{
    background-color: white;
    text-align: center;

        h4,p,a,li{
            color: $primary;
        }

        h4{
            margin-bottom: 1rem;
            font-size: 2rem;
        }
        a{
            font-size: 1.4rem;
           &:hover{
            font-weight: 500;
            color: $secondary;
           }
        }

        li{
            list-style-type: none;
            font-family: "AdventPro", sans-serif;
            font-size: 1.4rem;
            text-align: left;
            padding-left: 4rem;
        }
        @media (max-width: 720px) {
            li{
               text-align: center;
               padding: 0;
            }
        }
        
        .so-me{
            justify-content: center;
            margin-top: 1rem;
            .bi{
                color: $primary;
                font-size: 2.8rem;
                padding: 0.4rem;
            }
            
        }

}
@import "sass/base";
@import "sass/flexbox";
@import "sass/grid";
@import "sass/navbar";
@import "sass/utilities";
@import "sass/desktop";
@import "sass/mobile";
@import "sass/button";